@import 'compass';
/* Custom overrides */

/* COLORS */
$pal-chemo-yellow: #F3E7A8;
$pal-chemo-light-blue: #55A2D7;
$pal-chemo-med-blue: #4C89B5;
$pal-chemo-dark-blue: #1E4971;
$pal-chemo-bkgrd: #D1E7F5;

/* EXTENDS */

.no-border {
  border: none;
}

/* COMMON */

body {
  font-size: 1.3em;
  background: $pal-chemo-bkgrd;
}

a {
  color: $pal-chemo-light-blue;
}

a:hover {
  color: $pal-chemo-dark-blue;
}

.main {
  padding-bottom: 40px;
}

.light-blue, 
.light-blue h1, 
.light-blue p {
  color: $pal-chemo-light-blue;
}

.dark-blue, 
.dark-blue h1, 
.dark-blue p {
  color: $pal-chemo-dark-blue;
}

.region-content p {
  font-size: 1.7em;
  line-height: 2.0em;
}

.btn-space {
  margin: 30px 20px;
}

.btn-primary {
  background: $pal-chemo-med-blue;
}

.btn-primary:hover {
  background: $pal-chemo-dark-blue;
}

.display-table {
  display: table;
  position: relative;
}

.center {
  margin: 0 auto;
}

.main {
  background: #fff;
}

.page-top, .page-top h1{
  @extend .no-border;
}

.page-top {
  margin-bottom: 50px;
}

h1 {
  margin: 0;
  font-size: 4.0em;
  padding:8px 0;
}

.page-top {
  background: $pal-chemo-med-blue;
}

.page-top h1 {
  color: #fff;
}



/* HEADER */

#header {
  border-top:none;
  border-bottom: $pal-chemo-yellow 2px solid;
  background: #fff;
}

#header .logo {
  padding: 0;
}

#header nav ul.nav-main li.active a,
#header nav ul.nav-main li a:hover {
  background: $pal-chemo-med-blue;
  color: #fff;
}

#header nav ul.nav-main li a {
  color: $pal-chemo-med-blue;
}

#header nav ul.nav-main li a {
  font-size: 1.4em;
  padding:15px 20px;
  margin: 0 6px;
}

#header > .container {
  margin-bottom: -60px;
}
/* HOME */

.home-modules {
  margin: 30px 0 50px;
}

/*
.home-modules a {
  margin: 0 20px;
}
*/

.home-modules a:hover {
  text-decoration: none;
}

.hm {
  text-align: center;
}

.hm-sm {
  padding: 50px 20px 0 20px;
}

.hm-sm h1 {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.6em;
}

.hm-sm p{
  font-size: 1.2em;
}

.hm-lg {
  border: $pal-chemo-yellow 4px solid; 
  padding: 5% 18% 2%;
  margin:0 20px;
}

.hm-lg h1 {
  font-size: 2.5em;
  font-weight: 400;
  line-height:1.6em;
}

.hm-lg p {
  font-size: 1.5em;
  line-height:1.5em;
}


.hm h1 {
  text-transform: uppercase;
}

.banner-space {
  padding: 30px 0;
}

/* LOGIN */

.site-map-menu a {
  font-size: 2em;
  line-height: 1.5em;
}

/* LOGIN */

.login {
  max-width: 50%;
}

/* BOOKLET */

.view-folfox-booklet img,
.view-folfiri-booklet img {
  margin: 30px auto;
  border: #ccc 1px solid;
  display: block;
  max-width: 100%;
  height: auto;
}

/* VIDEOS */

.pal-chemo-video {
  max-width:900px;
}

.pal-chemo-vid video{
}

/* FOOTER */
#footer, #footer .footer-copyright {
  background: none;
  @extend .no-border;
}

#footer {
  margin-top:0;
}

#footer p, #footer a {
  color: $pal-chemo-med-blue !important;
}

#footer .footer-copyright nav ul li {
  border-left: $pal-chemo-med-blue 1px solid;
}

#footer a, #footer a:hover {
  text-decoration: underline;
}

#footer .footer-copyright {
  padding: 50px 0 20px 0;
}

#footer .footer-copyright nav {
  font-size: 1.4em;
}

#footer .footer-copyright p {
  margin-top: 10px;
  float: right;
  text-align: right;
}
